// Insert your styling here.

//classes generales
img.img-center { margin-right : auto; margin-left : auto;display: block;padding:10px;}
//bloc header
img.header-bg {position: absolute; z-index :-10;}

.site-info {

}


//info societe
.block-logo {background-image:url("/sites/all/themes/osteopathie/images/bloc-logo.png");
background-repeat : no-repeat;}
.txt-info {padding:20px;
  display: inline-block;}
